body {
    background-color: lightblue;
    text-align: center;
    height: 95vh;
}
p {
    margin: 0;
    text-shadow: 1px 0 0 white;
    font-style: italic;
}
.wrap {
    /*background-color: lightpink;*/
    border: 2px solid white;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.title {
    background-color: #EDADC7;
    height: 30%;
    position: relative;
    border-bottom: 5px solid white;
    box-sizing: border-box;
}
.location {
    background-color: lightgreen;
    height: 10%;
    position: relative;
}
.info {
    background-color: aliceblue;
    height: 15%;
    position: relative;
}
.symbols {
    background-color: ##00CED1;
    height: 25%;
    font-size: 1.7em;
    position: relative;
}
#symbol_text {
    position: relative;
    top: 70px;
}
.button {
    background-color: lightsteelblue;
    height: 10%;
    position: relative;
}
.footer {
    background-color: thistle;
    height: 10%;
    position: relative;
}
#title_text {
    font-size: 4em;
    font-style: italic;
    position: relative;
    top: 1em;
    padding-top: 50px;
    text-shadow: 2px 0 0 white;
    color: black;
    box-sizing: border-box;
}
#location_text {
    font-size: 1.7em;
    margin: 0;
    position: relative;
    top: 20px;
}
#info_text {
    font-size: 1.7em;
    position: relative;
    top: 40px;
}
#toggle {
    padding: 1.3em;
    border-radius: 10%;
    background-color: lightpink;
    color: black;
    opacity: .7;
    transition: .7s;
    position: relative;
    top: 13px;
}
#toggle:hover {
    background-color: black;
    color: lightpink;
}
#footer_text {
    font-size: 1.3em;
    font-style: italic;
    text-shadow: 2px 0 0 lightpink;
    position: relative;
    top: 23px;
}
.icon {
    position: relative;
    top: 65px;
}
