body {
    background-color: lightblue;
    text-align: center;
    height: 95vh;
}
p {
    margin: 0;
    text-shadow: 1px 0 0 lightpink;
    font-style: italic;
}
.wrap {
    /*background-color: lightpink;*/
    border: 2px solid white;
    height: 100%;
    width: 80%;
    margin: 0 auto;
}
.title {
    /*background-color: lightgrey;*/
    height: 30%;
    position: relative;
}
.location {
    background-color: lightgreen;
    height: 10%;
    position: relative;
}
.info {
    background-color: lavender;
    height: 40%;
    position: relative;
}
.button {
    background-color: lightsteelblue;
    height: 10%;
    position: relative;
}
.footer {
    background-color: thistle;
    height: 10%;
    position: relative;
}
#title_text {
    border-bottom: 5px solid lightpink;
    height: 50%;
    font-size: 4.5vw;
    font-style: italic;
    position: relative;
    top: 1em;
    padding-top: 30px;
    text-shadow: 2px 0 0 lightpink;
    color: black;
    box-sizing: border-box;
}
#location_text {
    font-size: 1.7em;
}
#info_text {
    font-size: 1.7em;
}
#footer_text {
    font-size: 1.3em;
    font-style: italic;
    text-shadow: 2px 0 0 lightpink;
    position: relative;
    top: 23px;
}
